

/* Navbar */


#mainNav {
    padding: 0rem;
    background-color: #abaaaa !important;
    border-bottom: solid 1px black;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #258AFF;
}

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #258AFF !important;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #258AFF !important;
  }

@media (max-width: 992px) {
    #mainmenu {
        margin-left: 0;
        margin-left: 0;
    }
}

/* Header */ 

.banner {
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:  -webkit-fill-available;
}

.banner h1 , .banner h2 {
    color: #258AFF;
}

.banner h1 {
    padding: 1rem;
}

.hidden {
    display: none;
    background-color: #abaaaa96;
    margin: 1rem;
    padding: 1rem;
}


/* Portfolio */

#portfolio {
    background-color: #abaaaa;
}

#portfolio h2 {
 padding-bottom:  2rem;
 color: #258AFF !important;
}

#portfolio p {
    font-size: 2rem;
    text-decoration: underline;
}

.frame {
    padding: 0;
}

.portfolio .portfolio-item .portfolio-item-caption {
    background-color: #258AFF;
}

@media (max-width: 992px) {
    .portfolio .portfolio-item .portfolio-item-caption {
       opacity: 0;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }
    
    .portfolio .portfolio-item .portfolio-item-caption:hover {
        opacity: 1;
    }
    
}


.portfolio-box img {
    width: 100%;
    height: 15rem;
}

.portfolio-modal .portfolio-modal-dialog {
    background-color: #abaaaa !important;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  color: white;
}

/*About */

#about {
    background-color: #258AFF !important;
}

#about h2 {
    padding-bottom: 2rem;
}


/* Contact */ 

#contact {
    background-color:  #258AFF;
}

#contact h2, #contact i, #contact h3 {
    color: white !important;
}

.portait {
    width: 15rem;
    height: 15rem;
}

.greybtn {
    background-color:  #abaaaa !important; 
}

/* footer  */

.footer {
    background-color:  #258AFF ;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.copyright {
    background-color:  #abaaaa ;
}

.btn {
  border-width: 5px;
  padding: 0.5rem;
}

.btn-primary {
  background-color: #258AFF;
  border-color: #258AFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}
